@using P2.Utils;
@using Entities;
@model IEnumerable<Entities.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container body-content">

    <h2>Productos</h2>

    <p>
        @Html.ActionLink("Agregar", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            @{
                if (Utilities.LoggedUser.UserTypeID == Convert.ToInt32(UserTypeEnum.Admin))
                {
                    <th>
                       
                    </th>
                }
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
               
                @{
                <td>
                    @if (Utilities.LoggedUser.UserTypeID == Convert.ToInt32(UserTypeEnum.Admin))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) 
                        
                        <label>|</label>   

                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    }
                            
                </td>
                }
            </tr>
        }

    </table>
</div>